$lightgrey: #F5F8FC;
$lightblue: #0099FF;
$black: #172838;

.Contact {
    width: 100%;
    background-color: $lightgrey;

    .Container {
        width: 90%;

        margin: 0 auto;
        padding: 2rem 0;

        .Wrapper {
            width: 100%;
            
            .Info {
                width: 100%;

                .Main {
                    font-size: 1.75em;
                    font-family: 'Poppins', sans-serif;
                    color: $lightblue;

                    margin-bottom: 0.75em;
                }
                
                .Description {
                    font-family: 'Poppins', sans-serif;
                    line-height: 22px;
                    color: $black;
                    
                    margin-bottom: 2em;
                }
            }

            .Form {
                width: 100%;
            }
        }
    }
}

@media (min-width: 720px) {
    .Contact {
        .Container {
            width: 85%;

            padding: 6rem 0;

            .Wrapper {
                max-width: 550px;

                .Info {
                    .Main {
                        font-size: 2em;
                    }

                    .Description {
                        font-size: 20px;
                        line-height: 26px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .Contact {
        .Container {
            max-width: 1440px;

            .Wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;

                max-width: none;

                .Info {
                    max-width: 500px;

                    .Main {
                        font-size: 2.25em;
                    }

                    .Description {
                        font-size: 18px;
                        line-height: 30px;
                    }
                }

                .Form {
                    margin-left: 4em;
                    max-width: 500px;
                }
            }
        }
    }
}
