$black: #172838;
$lightblue: #0099FF;

.Footer {
    width: 100%;

    background-color: $black;

    .Container {
        width: 90%;

        margin: 0 auto;
        padding: 1rem 0;

        .Wrapper {
            width: 100%;
            padding: 1rem 0;

            .Main {
                .Column {
                    margin-bottom: 2rem;

                    .Content {
                        margin-top: 2rem;

                        .Info {
                            font-family: 'Poppins', sans-serif;
                            font-weight: 300;
                            line-height: 22px;
                            color: white;
                        }
                    }
                }
            }
            
            .Social {
                .Action {
                    display: none;
                }

                .Links {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    list-style-type: none;

                    .Item {
                        margin: 0 5px;

                        &:first-of-type {
                            margin-left: 0;
                        }
                        
                        &:last-of-type {
                            margin-right: 0;
                        }

                        a {
                            width: 25px;
                            height: 25px;
                            
                            display: block;

                            transition: all 0.15s;
                            outline: none;

                            &:hover {
                                filter: brightness(0.9);
                            }
                            
                            &:active {
                                filter: brightness(0.8);
                            }

                            i {
                                display: block;
                                
                                width: 100%;
                                height: 100%;

                                background-repeat: no-repeat;
                                background-size: contain;

                            }
                            
                            .LinkedIn {
                                background-image: url('../../assets/icons/linkedin.png');
                            }

                            .Twitter {
                                background-image: url('../../assets/icons/twitter.png');
                            }

                            .Facebook {
                                background-image: url('../../assets/icons/facebook.png');
                            }
                        }
                    }
                }
            }
        }

        .Copyright {
            font-family: 'Poppins', sans-serif;
            font-size: 0.9em;
            font-weight: 300;
            text-align: center;
            color: white;

            margin-top: 1rem;
        }
    }
}

@media (min-width: 720px) {
    .Footer {
        .Container {
            max-width: 1440px;
            
            width: 85%;
            padding: 1rem 0;

            .Wrapper {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                padding: 2rem 0 1rem;

                .Main {
                    display: flex;

                    .Column {
                        display: flex;
                        flex-wrap: wrap;

                        margin-bottom: 0;

                        &:first-of-type {
                            padding-right: 2rem;
                            border-right: 1px solid $lightblue;
                        }

                        .Content {
                            padding: 5px 0;
                            margin-top: 0;
                            margin-left: 2rem;
                        }
                    }
                }

                .Social {
                    .Action {
                        display: block;
                        width: 100%;
    
                        font-family: 'Montserrat', sans-serif;
                        font-size: 1rem;
                        font-weight: 500;
                        color: white;
    
                        margin: 0 25px 0 0;
                    }

                    .Links {
                        margin-top: 22px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .Footer {
        .Container {
            padding: 1rem 0 1.5rem;

            .Wrapper {
                padding: 2.5rem 0 1rem;

                .Main {
                    .Column {
                        &:first-of-type {
                            padding-right: 3rem;
                        }

                        .Content {
                            margin-left: 3rem;
                        }
                    }
                }

                .Social {
                    display: flex;
                    align-items: center;
                    
                    .Links {
                        margin-top: 0;
                    }
                }
            }

            .Copyright {
                text-align: right;
                font-size: 0.8rem;
            }
        }
    }
}
